.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgb(73, 79, 82);
  min-height: 10vh;
  color: white;
}
.nav-links {
  list-style-type: none;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
form {
  align-items: center;
  display: flexbox;
  position: fixed;
  margin: 70px 520px;
}
